html {
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #6c6c89 0%, #28285e 100%);
  color: white;
}

.playfield {
  background: whitesmoke;
  width: 1040px;
  height: 600px;
  top: 10%;
  left: 5%;
  position: absolute;
  border-radius: 4px;
  border: solid 4px #85a3cc;
  box-shadow: 2px 4px 4px black;
  z-index: 0;
  cursor: none;
}

.ball {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff0000;
}
